<app-admin></app-admin>
<div class="container">
    <form fxLayoutAlign="25" fxLayout="column" (ngSubmit)="getborrowedbook()">
        <mat-form-field>
          <mat-label >UserId</mat-label>
          <input type="number" matInput name="USERID"  [(ngModel)]="user.userId" placeholder="Put Userid">
        </mat-form-field>
          <button mat-raised-button mat-button type="submit" class="  badge bg-primary text-wrap center " style="width: 5rem; font-size: medium;">Submit</button>
      </form>
    
    <h2 class='mt-3 mb-3 '>Lended Book List</h2>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Book Id</th>
                <th> Book Name </th>
                <th> Author Name</th>
                <th> Publication </th>
              
               
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let book of books" >
                <td> {{ book.bookID }} </td>
                <td> {{ book.bookTitle }} </td>
                <td> {{ book.authorName }} </td>
                <td> {{ book.publication }}</td>
               
            </tr>
        </tbody>
    </table>
    </div>