<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a href="user/booklist" routerLinkActive="active"  class="nav-link" >Book List</a>
        </li>
        <li class = "nav-item">
            <a href="user/lendedbooklist" routerLinkActive="active"  class="nav-link" >Issued Book List</a>
        </li>
        <li class = "nav-item">
            <a href="user/overduebooklist" routerLinkActive="active"  class="nav-link" >Overdue Book List</a>
        </li>
        <li class = "nav-item">
            <a href="user/borrowbook" routerLinkActive="active"  class="nav-link" >Borrow Book</a>
        </li>
       
    </ul>
</nav>
