<app-admin></app-admin>
<div class="col-md-6 offset-md-3">
<h3> Add User </h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> User Id</label>
        <input type="text" class ="form-control" id = "userId"
            [(ngModel)] ="user.userId" name="userId">
    </div>

    <div class="form-group">
        <label> User Name</label>
        <input type="text" class ="form-control" id = "userName"
            [(ngModel)] ="user.userName" name="userName">
    </div>

    <div class="form-group">
        <label> Email</label>
        <input type="text" class ="form-control" id = "email"
            [(ngModel)] ="user.email" name="email">
    </div>

    <div class="form-group">
        <label> Password</label>
        <input type="text" class ="form-control" id = "password"
            [(ngModel)] ="user.password" name="password">
    </div>
    <div class="form-group">
        <label> User Type </label>
        <input type="text" class ="form-control" id = "userType"
            [(ngModel)] ="user.userType" name="userType">
    </div>

    <div class="form-group">
        <label> Available  </label>
        <input type="text" class ="form-control" id = "available"
            [(ngModel)] ="user.available" name="available">
    </div>
    <button class = "btn btn-success" type ="submit">Submit</button>
    
</form>
</div>